body {
  font-family: Arial, sans-serif;
  margin: 40px;
}
html{
    background-color: 0AC4E0;
}
footer{
background-color: black;
height: 200px;
}
p{
   background-color:#F5FBE6;
}
ul{
    background-color: #F5FBE6;
}
