body {
  font-family: Arial, sans-serif;
  margin: 40px;
}
html{
    background-color: 0AC4E0;
}
h1 {
  color: #333;
  text-align: center;
}
.para{
  font-size: medium;
  margin: 0px;
  background-color: #F5FBE6;
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
